body {
  font-family: sans-serif;
	margin: 20px;
}

ul {
  padding: 0;
	margin: 0;
	list-style: none;
}

.game {
  display: flex;
  flex-direction: row;
	gap: 20%;
}

.status {
  margin-bottom: 20px;
}

.move-order {
  margin-bottom: 15px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}
